{% extends "base.html.twig" %}

{% block title %}
 CarXMeet - Acceuil
{% endblock %}

{% block body %}
    <div class ="container">
        <h1 class ="mt-4">Acceuil</h1>

        <div style="margin-top: 12px;">
            <a href="{{ path('app_user_edit') }}" style="display: inline-block; padding: 10px 12px; border-radius: 10px; background: #111827; color: white; text-decoration: none;">
                Modifier mon profil
            </a>
        </div>
    </div>
{% endblock %}
